:root {
  --violeta-palido: hsl(277, 65%, 87%);
  --violeta-moderado: hsl(276, 55%, 52%);
  --violeta-desaturado-oscuro: hsl(271, 15%, 43%);
  --azul-grisaceo: hsl(206, 6%, 79%);
  --violeta-desaturado-muy-oscuro: hsl(271, 36%, 24%);
  --violeta-grisaceo-oscuro: hsl(270, 7%, 64%);

  --magenta-claro: hsl(293, 100%, 63%);
  --violeta-claro: hsl(264, 100%, 61%);

  --blanco: hsl(0, 0%, 100%);
  --violeta-grisaceo-claro: hsl(270, 20%, 96%);
  --violeta-desaturado-muy-oscuro-boton-enviar: hsl(271, 36%, 24%);
  --magenta-muy-claro: hsl(289, 100%, 72%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  height: 50px;
  height: 50px;
}
body {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  background-color: var(--violeta-grisaceo-claro);
  padding: 0;
  margin: 0;
  height: 100vh;
}
.celular {
  background-color: var(--blanco);
  padding: 1rem;
  box-shadow: 0.6rem 1rem 2rem var(--azul-grisaceo);
  width: 80%;
  margin: 2rem auto;
  border-radius: 4rem;
}

.contenedor {
  background-color: var(--violeta-grisaceo-claro);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
}
.descripcion {
  display: flex;
  background: linear-gradient(
    to left,
    var(--magenta-claro),
    var(--violeta-claro)
  );
  border-radius: 32px 32px 1rem 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
}
.imagen img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px var(--blanco);
}

.imagen {
  display: flex;
  gap: 1rem;
}
.descripcion p {
  color: var(--blanco);
  margin: 0;
}
.descripcion p:first-child {
  font-size: 1.4rem;
  font-weight: 500;
}
.descripcion p:last-child {
  font-size: 1rem;
}
.mesaje-izquierda p {
  color: var(--violeta-claro);
  background-color: var(--violeta-palido);
  display: flex;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 300;
  width: 15rem;
}
.dogs {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.dogs img {
  border-radius: 1.3rem;
}
.mensaje-derecha {
  align-items: end;
}
.mensaje-derecha p {
  background-color: var(--blanco);
  width: 15rem;
  margin-left: auto;
  border-radius: 1.3rem;
  padding: 0.5rem;
}
.especiales {
  background: linear-gradient(
    to left,
    var(--violeta-claro),
    var(--magenta-claro)
  );
  color: white;
  width: 15rem;
  padding: 0.8rem;
  border-radius: 1rem 1rem 0.8rem 4px;
}

.final {
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  justify-content: space-evenly;
}
.final input {
  border: none;
}
.final div {
  background-color: black;
  color: white;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
  font-weight: 800;
}
footer {
  text-align: center;
  padding: 2rem;
}
footer h1 {
  font-weight: 600;
  font-size: 2rem;
}
footer p {
  color: var(--violeta-grisaceo-oscuro);
}
.morado {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 18rem;
  height: 60rem;
  background: linear-gradient(
    var(--magenta-claro) 30%,
    var(--violeta-claro) 100%
  );
  border-radius: 0 0 100% 0;
}
@media (min-width: 768px) {
  .morado {
    position: absolute;
    top: 0;
    left: 0;
    width: 47rem;
    border-radius: 0% 0% 100% 100% / 33% 50% 100% 68%;
    height: 50rem;
  }
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
    place-items: center;
  }

  .celular {
    width: 32rem;
    height: 53rem;
    overflow: hidden;
    margin-left: 40rem;
  }
  .contenedor {
    width: 30rem;
    height: 51rem;
    font-size: 1rem;
    overflow: hidden;
  }
  p {
    font-size: 7px;
  }
  footer {
    padding: 10rem;
  }
  footer h1 {
    font-size: 3.5rem;
    text-align: left;
  }
  footer p {
    font-size: 1rem;
    margin-right: 25rem;
    text-align: left;
  }
}
